.section_header{

    margin-top: 10rem;
}



.section_text{

text-align: center;
color: #0b0754;
}
.sec_img{
    width: 4rem;
    text-align: center;
    transition: ease-in 500ms;
}

.sec_img:hover{
    width: 5rem;
    text-align: center;
}

.sec_icon{
    margin: 5rem;

    text-align: center;
}
.icon_text{

    font-weight: bolder;
    margin-top: 2rem;
}
.sub_sec_img{

    width: 5rem;
    margin: 3rem 0rem -3rem -6rem;margin: 1rem;margin: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    font-size: 1.2rem;
    font-weight: bolder;
}
.sub_section{

    margin-top: 5rem;
    background: #f3f3f3;
    padding: 3rem;

}
.sub_sec_text{

    margin: -1rem 1rem 1rem 13rem;
}
.sub_img{
    width: 4rem;
    margin: 1rem;
}
.sub_header{
    margin: 1rem;
    font-size: 1rem;
    font-weight: bolder;
}